#A)Look for the missing values in all the columns and either impute them (replace with mean,median, or mode) or drop them. Justify your action for this task.

In [ ]:
import pandas as pd
df = pd.read_csv("/content/train.csv")
df

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,NaN,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,NaN,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,NaN,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,NaN,2.50

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5847 entries, 0 to 5846
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         5847 non-null   int64
 1   Name               5847 non-null   object
 2   Location           5847 non-null   object
 3   Year               5847 non-null   int64
 4   Kilometers_Driven  5847 non-null   int64
 5   Fuel_Type          5847 non-null   object
 6   Transmission       5847 non-null   object
 7   Owner_Type         5847 non-null   object
 8   Mileage            5845 non-null   object
 9   Engine             5811 non-null   object
 10  Power              5811 non-null   object
 11  Seats              5809 non-null   float64
 12  New_Price          815 non-null    object
 13  Price              5847 non-null   float64
dtypes: float64(2), int64(3), object(9)
memory usage: 639.6+ KB

In [ ]:
df.shape

(5847, 14)

In [ ]:
df.isnull().sum()

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

In [ ]:
missing_columns = ['Mileage', 'Engine', 'Power', 'Seats']

for col in missing_columns:
    if df[col].dtype == 'object':
        df[col] = df[col].fillna(df[col].mode()[0])
    else:
        df[col] = df[col].fillna(df[col].mean())

In [ ]:
#removing the 'New_Price' because more than 80% of data is missing so i  dropping the column
df.drop('New_Price', axis=1, inplace=True)

In [ ]:
df.isnull().sum()

Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

In [ ]:
df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,3.50

In [ ]:
#dowloading updated missing values file
from google.colab import files
df.to_csv('cleaned_data_train_A.csv', index=False)
files.download('cleaned_data_train_A.csv')

#B)Remove the units from some of the attributes and only keep the numerical values (forexample remove kmpl from “Mileage”, CC from “Engine”, bhp from “Power”, and lakh from“New_price”).

In [ ]:
df_b=pd.read_csv("/content/cleaned_data_train_A.csv")
df_b

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,2.50

In [ ]:
df_b['Mileage'] = df_b['Mileage'].astype(str).str.extract(r'([\d.]+)').astype(float)
df_b['Engine'] = df_b['Engine'].astype(str).str.extract(r'([\d.]+)').astype(float)
df_b['Power'] = df_b['Power'].astype(str).str.extract(r'([\d.]+)').astype(float)

In [ ]:
df_b.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13.00,1199.0,88.70,5.0,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,3.50

In [ ]:
from google.colab import files
df_b.to_csv('cleaned_data_train_B.csv', index=False)
files.download('cleaned_data_train_B.csv')

#C)Change the categorical variables (“Fuel_Type” and “Transmission”) into numerical one hot encoded value.

In [ ]:
df_c=pd.read_csv("/content/cleaned_data_train_B.csv")
df_c

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13.00,1199.0,88.70,5.0,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.40,1248.0,74.00,5.0,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.40,1120.0,71.00,5.0,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.00,2498.0,112.00,8.0,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.90,998.0,67.10,5.0,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44,936.0,57.60,5.0,2.50

In [ ]:
print(df_c['Fuel_Type'].unique())
print(df_c['Transmission'].unique())

['Diesel' 'Petrol' 'Electric']
['Manual' 'Automatic']

In [ ]:
# One-hot encode Fuel_Type (handles Diesel, Petrol, Electric)
fuel_dummies = pd.get_dummies(df_c['Fuel_Type'], prefix='Fuel')
df_c = pd.concat([df_c, fuel_dummies], axis=1)
df_c.drop('Fuel_Type', axis=1, inplace=True)
# Binary map for Transmission
df_c['Transmission'] = df_c['Transmission'].map({'Automatic': 0, 'Manual': 1})

# Convert all dummy columns to integers (0/1)
fuel_cols = ['Fuel_Diesel', 'Fuel_Petrol', 'Fuel_Electric']
df_c[fuel_cols] = df_c[fuel_cols].astype(int)

In [ ]:
df_c.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Fuel_Diesel,Fuel_Electric,Fuel_Petrol
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,1,First,19.67,1582.0,126.20,5.0,12.50,1,0,0
1,2,Honda Jazz V,Chennai,2011,46000,1,First,13.00,1199.0,88.70,5.0,4.50,0,0,1
2,3,Maruti Ertiga VDI,Chennai,2012,87000,1,First,20.77,1248.0,88.76,7.0,6.00,1,0,0
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,Second,15.20,1968.0,140.80,5.0,17.74,1,0,0
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,1,First,23.08,1461.0,63.10,5.0,3.50,1,0,0

In [ ]:
# Convert all dummy columns to integers (0/1)
fuel_cols = ['Fuel_Diesel', 'Fuel_Petrol', 'Fuel_Electric']
df_c[fuel_cols] = df_c[fuel_cols].astype(int)

In [ ]:
df_c.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Fuel_Diesel,Fuel_Electric,Fuel_Petrol
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,1,First,19.67,1582.0,126.20,5.0,12.50,1,0,0
1,2,Honda Jazz V,Chennai,2011,46000,1,First,13.00,1199.0,88.70,5.0,4.50,0,0,1
2,3,Maruti Ertiga VDI,Chennai,2012,87000,1,First,20.77,1248.0,88.76,7.0,6.00,1,0,0
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,Second,15.20,1968.0,140.80,5.0,17.74,1,0,0
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,1,First,23.08,1461.0,63.10,5.0,3.50,1,0,0

In [ ]:
from google.colab import files
df_c.to_csv('cleaned_data_train_C.csv', index=False)
files.download('cleaned_data_train_C.csv')

#D)Create one more feature and add this column to the dataset (you can use mutate function in R for this). For example, you can calculate the current age of the car by subtracting “Year” value from the current year.

In [ ]:
df_d = pd.read_csv("/content/cleaned_data_train_C.csv")
df_d

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Fuel_Diesel,Fuel_Electric,Fuel_Petrol
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,1,First,19.67,1582.0,126.20,5.0,12.50,1,0,0
1,2,Honda Jazz V,Chennai,2011,46000,1,First,13.00,1199.0,88.70,5.0,4.50,0,0,1
2,3,Maruti Ertiga VDI,Chennai,2012,87000,1,First,20.77,1248.0,88.76,7.0,6.00,1,0,0
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,Second,15.20,1968.0,140.80,5.0,17.74,1,0,0
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,1,First,23.08,1461.0,63.10,5.0,3.50,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,1,First,28.40,1248.0,74.00,5.0,4.75,1,0,0
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,1,First,24.40,1120.0,71.00,5.0,4.00,1,0,0
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,1,Second,14.00,2498.0,112.00,8.0,2.90,1,0,0
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,1,First,18.90,998.0,67.10,5.0,2.65,0,0,1
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,1,First,25.44,936.0,57.60,5.0,2.50,1,0,0

In [ ]:


current_year = datetime.now().year
df_d['Car_Age'] = current_year - df_d['Year']

In [ ]:
print(df_d[['Year', 'Car_Age']].head())

   Year  Car_Age
0  2015       10
1  2011       14
2  2012       13
3  2013       12
4  2013       12

In [ ]:

from google.colab import files
df_d.to_csv('cleaned_data_train_D.csv', index=False)
files.download('cleaned_data_train_D.csv')

#E)Perform select, filter, rename, mutate, arrange and summarize with group by operations (or their equivalent operations in python) on this dataset.

In [134]:
df_e = pd.read_csv("/content/cleaned_data_train_D.csv")
df_e

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Fuel_Diesel,Fuel_Electric,Fuel_Petrol,Car_Age
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,1,First,19.67,1582.0,126.20,5.0,12.50,1,0,0,10
1,2,Honda Jazz V,Chennai,2011,46000,1,First,13.00,1199.0,88.70,5.0,4.50,0,0,1,14
2,3,Maruti Ertiga VDI,Chennai,2012,87000,1,First,20.77,1248.0,88.76,7.0,6.00,1,0,0,13
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,Second,15.20,1968.0,140.80,5.0,17.74,1,0,0,12
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,1,First,23.08,1461.0,63.10,5.0,3.50,1,0,0,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,1,First,28.40,1248.0,74.00,5.0,4.75,1,0,0,11
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,1,First,24.40,1120.0,71.00,5.0,4.00,1,0,0,10
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,1,Second,14.00,2498.0,112.00,8.0,2.90,1,0,0,13
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,1,First,18.90,998.0,67.10,5.0,2.65,0,0,1,12
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,1,First,25.44,936.0,57.60,5.0,2.50,1,0,0,14

In [147]:
df_selected = df_e[['Name', 'Year', 'Mileage', 'Fuel_Petrol', 'Transmission']]
df_filtered = df_e[df_e['Mileage'] > 20]
df_renamed = df_e.rename(columns={'Mileage': 'Mileage_kmpl', 'Transmission': 'Is_Manual'})
df_e['Car_Age'] = current_year - df_e['Year']
df_sorted = df_e.sort_values(by='Price', ascending=False)
df_summary = df_e.groupby(['Fuel_Petrol', 'Fuel_Diesel', 'Fuel_Electric'])[['Price', 'Mileage']].mean().reset_index()
# Complex summary statistics using agg() on one-hot encoded Fuel_Type columns
summary_stats_complex = df_e.groupby(['Fuel_Petrol', 'Fuel_Diesel', 'Fuel_Electric']).agg({'Price': ['mean', 'min', 'max']})


print("Selected Cols")
print(df_selected.head())

print("\nFiltered Data (Year > 2015):")
print(df_filtered.head())

print("\nRenamed Columns:")
print(df_renamed.head())

print("\nNew Column 'Car_Age':")
print(df_e[['Name', 'Year', 'Car_Age']].head())

print("\nSorted by Price:")
print(df_sorted.head())

print("\nSummary Statistics (Mean Price by Fuel Type):")
print(df_summary)

print("\nSummary Stats (Mean, Min, Max Price by Fuel Type):")
print(summary_stats_complex)

Selected Cols
                               Name  Year  Mileage  Fuel_Petrol  Transmission
0  Hyundai Creta 1.6 CRDi SX Option  2015    19.67            0             1
1                      Honda Jazz V  2011    13.00            1             1
2                 Maruti Ertiga VDI  2012    20.77            0             1
3   Audi A4 New 2.0 TDI Multitronic  2013    15.20            0             0
4            Nissan Micra Diesel XV  2013    23.08            0             1

Filtered Data (Year > 2015):
   Unnamed: 0                                 Name Location  Year  \
2           3                    Maruti Ertiga VDI  Chennai  2012
4           6               Nissan Micra Diesel XV   Jaipur  2013
6           8  Volkswagen Vento Diesel Comfortline     Pune  2013
7           9       Tata Indica Vista Quadrajet LS  Chennai  2012
8          10                     Maruti Ciaz Zeta    Kochi  2018

   Kilometers_Driven  Transmission Owner_Type  Mileage  Engine   Power  Seats  \
2              87000             1      First    20.77  1248.0   88.76    7.0
4              86999             1      First    23.08  1461.0   63.10    5.0
6              64430             1      First    20.54  1598.0  103.60    5.0
7              65932             1     Second    22.30  1248.0   74.00    5.0
8              25692             1      First    21.56  1462.0  103.25    5.0

   Price  Fuel_Diesel  Fuel_Electric  Fuel_Petrol  Car_Age
2   6.00            1              0            0       13
4   3.50            1              0            0       12
6   5.20            1              0            0       12
7   1.95            1              0            0       13
8   9.95            0              0            1        7

Renamed Columns:
   Unnamed: 0                              Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven  Is_Manual Owner_Type  Mileage_kmpl  Engine   Power  \
0              41000          1      First         19.67  1582.0  126.20
1              46000          1      First         13.00  1199.0   88.70
2              87000          1      First         20.77  1248.0   88.76
3              40670          0     Second         15.20  1968.0  140.80
4              86999          1      First         23.08  1461.0   63.10

   Seats  Price  Fuel_Diesel  Fuel_Electric  Fuel_Petrol  Car_Age
0    5.0  12.50            1              0            0       10
1    5.0   4.50            0              0            1       14
2    7.0   6.00            1              0            0       13
3    5.0  17.74            1              0            0       12
4    5.0   3.50            1              0            0       12

New Column 'Car_Age':
                               Name  Year  Car_Age
0  Hyundai Creta 1.6 CRDi SX Option  2015       10
1                      Honda Jazz V  2011       14
2                 Maruti Ertiga VDI  2012       13
3   Audi A4 New 2.0 TDI Multitronic  2013       12
4            Nissan Micra Diesel XV  2013       12

Sorted by Price:
      Unnamed: 0                                         Name    Location  \
3952        4079  Land Rover Range Rover 3.0 Diesel LWB Vogue   Hyderabad
5620        5781                   Lamborghini Gallardo Coupe       Delhi
5752        5919                       Jaguar F Type 5.0 V8 S   Hyderabad
1457        1505              Land Rover Range Rover Sport SE       Kochi
1917        1974                           BMW 7 Series 740Li  Coimbatore

      Year  Kilometers_Driven  Transmission Owner_Type  Mileage  Engine  \
3952  2017              25000             0      First    13.33  2993.0
5620  2011               6500             0      Third     6.40  5204.0
5752  2015               8000             0      First    12.50  5000.0
1457  2019              26013             0      First    12.65  2993.0
1917  2018              28060             0      First    12.05  2979.0

      Power  Seats   Price  Fuel_Diesel  Fuel_Electric  Fuel_Petrol  Car_Age
3952  255.0    5.0  160.00            1              0            0        8
5620  560.0    2.0  120.00            0              0            1       14
5752  488.1    2.0  100.00            0              0            1       10
1457  255.0    5.0   97.07            1              0            0        6
1917  320.0    5.0   93.67            0              0            1        7

Summary Statistics (Mean Price by Fuel Type):
   Fuel_Petrol  Fuel_Diesel  Fuel_Electric      Price    Mileage
0            0            0              1  12.875000  18.900000
1            0            1              0  12.960686  18.652661
2            1            0              0   5.756688  17.576509

Summary Stats (Mean, Min, Max Price by Fuel Type):
                                           Price
                                            mean    min    max
Fuel_Petrol Fuel_Diesel Fuel_Electric
0           0           1              12.875000  12.75   13.0
            1           0              12.960686   0.60  160.0
1           0           0               5.756688   0.44  120.0

In [148]:
df_e.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Fuel_Diesel,Fuel_Electric,Fuel_Petrol,Car_Age
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,1,First,19.67,1582.0,126.20,5.0,12.50,1,0,0,10
1,2,Honda Jazz V,Chennai,2011,46000,1,First,13.00,1199.0,88.70,5.0,4.50,0,0,1,14
2,3,Maruti Ertiga VDI,Chennai,2012,87000,1,First,20.77,1248.0,88.76,7.0,6.00,1,0,0,13
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,Second,15.20,1968.0,140.80,5.0,17.74,1,0,0,12
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,1,First,23.08,1461.0,63.10,5.0,3.50,1,0,0,12

In [149]:
#dowloading updated missing values file
from google.colab import files
df_e.to_csv('cleaned_data_train_E.csv', index=False)
files.download('cleaned_data_train_E.csv')

In [151]:
import os

# Create the results directory if it doesn't exist
os.makedirs('results', exist_ok=True)

# Write to a text file
with open('results/results.txt', 'w') as f:
    f.write("Selected Columns:\n" +
            df_selected.head().to_string() + "\n\n")

    f.write("Filtered Data (Mileage > 20):\n" +
            df_filtered.head().to_string() + "\n\n")

    f.write("Renamed Columns:\n" +
            df_renamed.head().to_string() + "\n\n")

    f.write("New Column 'Car_Age':\n" +
            df_e[['Name', 'Year', 'Car_Age']].head().to_string() + "\n\n")

    f.write("Sorted by Price:\n" +
            df_sorted.head().to_string() + "\n\n")

    f.write("Summary Statistics (Mean Price by Fuel Type):\n" +
            df_summary.to_string() + "\n\n")

    f.write("Summary Statistics (Complex):\n" +
            summary_stats_complex.to_string() + "\n")